[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Movie creator ffDiaporama (local)
Name[fr]=Créateur de film ffDiaporama (local)
Name[it]=Movie creator ffDiaporama (local)
Name[es]=Creador de películas ffDiaporama (local)
Name[el]=Δημιουργός ταινιών ffDiaporama (local)
GenericName=Movie creator
GenericName[fr]=Créateur de film
GenericName[it]=Creatore di pellicole cinematografiche
GenericName[es]=Creador de películas
GenericName[el]=Δημιουργός ταινιών
Comment=Movie creator from photos and video clips
Comment[fr]=Créateur de film depuis des photos et des clips vidéo
Comment[it]=Creatore di pellicole cinematografiche da foto e filmati video
Comment[es]=Creador de películas a partir de fotos y clips de vídeo
Comment[el]=Δημιουργός ταινιών από φωτογραφίες και βίντεο κλιπ
Icon=/usr/local/share/ffDiaporama/application-ffDiaporama.png
Terminal=false
Type=Application
Path=/usr/local/share/ffDiaporama
Exec=/usr/local/bin/ffDiaporama %F
MimeType=application/ffDiaporama;
Categories=GNOME;AudioVideo;Qt;KDE;AudioVideo;
