[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=ffDiaporamaMMFiler (local)
GenericName=ffDiaporamaMMFiler
Comment=ffDiaporama Multimedia file browser and tools
Icon=/usr/local/share/ffDiaporama/img/application-ffDiaporamaMMFiler.png
Terminal=false
Type=Application
Categories=GNOME;AudioVideo;Qt;KDE;AudioVideo;
Path=/usr/local/share/ffDiaporama
Exec=/usr/local/bin/ffDiaporamaMMFiler
