#include <winver.h>
IDI_CON1 ICON        DISCARDABLE "application-ffDiaporamaMMFiler.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION	1,4_beta_2,12,0912
PRODUCTVERSION 	1,4_beta_2,12,0912
FILEFLAGSMASK  	0
FILEFLAGS      	0
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE    	0
{
    BLOCK "StringFileInfo" {
        BLOCK "040904E4" {  // 0409 for english 0x409 and 04E4 for 1252 code page
            VALUE "CompanyName",      "."
            VALUE "LegalCopyright",   "(c) 2011 Dominique LEVRAY"
            VALUE "FileDescription",  "ffDiaporamaMMFiler"
            VALUE "FileVersion",      "1.4_beta_2.2012.0912"
            VALUE "InternalName",     "ffDiaporamaMMFiler"
            VALUE "OriginalFilename", "ffDiaporamaMMFiler.exe"
            VALUE "ProductName",      "ffDiaporamaMMFiler"
            VALUE "ProductVersion",   "1.4_beta_2.2012.0912"
        }
    }
    BLOCK "VarFileInfo" {
        VALUE "Translation", 0x409, 1252, 0x40C, 1252
    }
}
