#include <winver.h>
IDI_CON1 ICON        DISCARDABLE "application-ffDiaporamaMMFiler.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION	1,3,12,0505
PRODUCTVERSION 	1,3,12,0505
FILEFLAGSMASK  	0
FILEFLAGS      	0
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE    	0
{
    BLOCK "StringFileInfo" {
        BLOCK "040904E4" {  // 0409 for english 0x409 and 04E4 for 1252 code page
            VALUE "CompanyName",      "."
            VALUE "LegalCopyright",   "(c) 2011 Dominique LEVRAY"
            VALUE "FileDescription",  "ffDiaporamaMMFiler"
            VALUE "FileVersion",      "1.3.2012.0505"
            VALUE "InternalName",     "ffDiaporamaMMFiler"
            VALUE "OriginalFilename", "ffDiaporamaMMFiler.exe"
            VALUE "ProductName",      "ffDiaporamaMMFiler"
            VALUE "ProductVersion",   "1.3.2012.0505"
        }
    }
    BLOCK "VarFileInfo" {
        VALUE "Translation", 0x409, 1252, 0x40C, 1252
    }
}
