[Desktop Entry]
Encoding=UTF-8
Name=ffDiaporama
GenericName=Movie creator
Comment=Movie creator from photos and video clips
Comment[fr]=Créateur de film depuis des photos et des clips vidéo
Exec=ffDiaporama
Icon=/usr/share/ffDiaporama/img/logo.png
Terminal=false
Type=Application
Categories=GNOME;AudioVideo;
Path=/usr/share/ffDiaporama
