Source: ffdiaporama
Section: graphics
Priority: extra
Maintainer: LEVRAY Dominique <levray.dominique@bbox.fr>
Standards-Version: 3.9.2
Homepage: http://ffdiaporama.tuxfamily.org
Build-Depends: qt4-qmake, libqt4-dev, debhelper (>= 8), g++ (>= 4.4), libavutil-dev, libavformat-dev, libavcodec-dev, libavdevice-dev, libavfilter-dev, libswscale-dev, libsdl-image1.2-dev, libsdl-mixer1.2-dev, libexiv2-dev, libtag1-dev

Package: ffdiaporama
Architecture: any
Depends: 
 libav-tools, libavcodec-extra-53,
 ${misc:Depends},
 ${shlibs:Depends}
Description:Movie creator
  Application for assembling photos and videos especially for preserving
  holiday memories. It is inspired by presentation software such as Impress
  or Powerpoint. It can read a majority of image formats, a majority of
  cameras and camcorder video formats, and the most commonly used music
  formats.
  It includes a lot of transitions and a device database for the generation
  of videos with more than 50 models of video viewing devices (including
  smartphones, tablets, and home cinema systems).

